@model TravelWeb.Models.Hotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Аялал
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travel.Name)
        </dd>

        <dt>
           Зочид буудал нэр
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Мэдээлэл
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

        <dt>
            Өрөөний тоо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>

        <dt>
            Багтах хүний тоо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxPerson)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hotelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
