@model TravelWeb.Models.Guider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Овог
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            Нэр
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
           Ажилсан жил
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workedYear)
        </dd>

        <dt>
           Зураг
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
