@model IEnumerable<TravelWeb.Models.Guider>

@{
    ViewBag.Title = "Index";
}

<h2>Хөтөчүүд</h2>

<p>
    @Html.ActionLink("Бүртгэх", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Овог нэр
        </th>
        <th>
           Нэр
        </th>
        <th>
            Ажилсан жил
        </th>
        <th>
            Зураг
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workedYear)
        </td>
        <td>
            <img class="img-responsive" style="height:50%" src="@Url.Content(item.img)">
        </td>
        <td>
            @Html.ActionLink("Засах", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Дэлгэрэнгүй", "Details", new { id=item.ID }) |
            @Html.ActionLink("Устгах", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
