@model IEnumerable<TravelWeb.Models.Travel>

@{
    ViewBag.Title = "Index";
}

<h2>Аялалууд</h2>

<p>
    @Html.ActionLink(" Бүртгэх", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Хөтөч Нэр
        </th>
        <th>
            Аялалын төрөл
        </th>
        <th>
           Аялал
        </th>
        <th>
           Эхлэх газар
        </th>
        <th>
            Очих газар
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guider.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTo)
        </td>
        <td>
            @Html.ActionLink("Засах", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Дэлгрэнгүй", "Details", new { id=item.ID }) |
            @Html.ActionLink("Устгах", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
