@model IEnumerable<TravelWeb.Models.TravelType>

@{
    ViewBag.Title = "Index";
}

<h2>Аялал төрөл</h2>

<p>
    @Html.ActionLink(" Бүртгэх", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Нэр
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Засах", "Edit", new { id=item.TravelTypeID }) |
            @Html.ActionLink("Дэлгэрэнгүй", "Details", new { id=item.TravelTypeID }) |
            @Html.ActionLink("Устгах", "Delete", new { id=item.TravelTypeID })
        </td>
    </tr>
}

</table>
