@model TravelWeb.Models.Day

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travelPlan.detail)
        </dd>

        <dt>
            Өдөр
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
           Мэдээлэл
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
