@model TravelWeb.Models.Image

@{
    ViewBag.Title = "Create";
}

<h2>Бүртгэх</h2>


@using (Html.BeginForm("Create", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Зураг</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-2">Эх үүсвэр</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.File, new { @type = "file" })
                @Html.ValidationMessageFor(model => model.File)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Аялал</label>
            <div class="col-md-10">
                @Html.DropDownList("TravelID", String.Empty)
                @Html.ValidationMessageFor(model => model.TravelID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Буцах", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
