@model IEnumerable<TravelWeb.Models.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Зурагууд</h2>

<p>
    @Html.ActionLink(" Бүртгэх", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Нэр
        </th>
        <th>
            Зураг
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.travel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.source)
           <img class="img-responsive" style="height:50%" src="@Url.Content(item.source)">
        </td>
        <td>
            @Html.ActionLink("Засах", "Edit", new { id=item.imageID }) |
            @Html.ActionLink("Дэлгэрэнгүй", "Details", new { id=item.imageID }) |
            @Html.ActionLink("Устгах", "Delete", new { id=item.imageID })
        </td>
    </tr>
}

</table>
