@model IEnumerable<TravelWeb.Models.TravelPlan>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!--slider-->
<div class="slider">
    <ul id="hero-gallery" class="cS-hidden">
        <li data-thumb="images/uploads/slider7.jpg">
            <img src="@Url.Content("~/images/uploads/slider7.jpg")" alt="" />
        </li>
        <li data-thumb="images/uploads/slider3.jpg">
            <img src="@Url.Content("~/images/uploads/slider3.jpg")" alt="" />
        </li>
        <li data-thumb="images/uploads/slider2.jpg">
            <img src="@Url.Content("~/images/uploads/slider2.jpg")" alt="" />
        </li>
    </ul>
</div>
<!--//slider-->

<!--main-->
<main class="main">
    <div class="wrap">
        <div class="row">
            <div class="full-width">

                <!--latest offers-->
                <header class="s-title">
                    <h2>Манай Аялалууд </h2>
                </header>

                <div class="offers">
                    <div class="row">
                        <!--column-->
                        @foreach (var item in Model)
                        {
                             <!--deal-->
                            <article class="one-fourth">
                                <figure><a href="@Url.Action("TravelDetail","Home",new {id=item.ID })" title=""><img style="width:100%" src="@Url.Content(@item.travel.images.First().source)" alt="" /></a></figure>
                                <div class="details">
                                    <h3>
                                        @item.travel.Name
                                        <span class="stars">
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                        </span>
                                    </h3>
                                    <span class="address"><a href="#">@item.travel.StartFrom -> @item.travel.EndTo</a></span>
                                    <span class="rating"> 8 /10</span>
                                    <span class="price">Аялалын үнэ:  <em>@item.price ₮ </em> </span>
                                    <span class="price">Хөтөч:  <em>@item.travel.guider.lastName @item.travel.guider.firstName </em> </span>
                                    <div class="description">
                                        <p>@item.detail <a href="@Url.Action("TravelDetail","Home",new {id=item.ID })">Дэлгэрэнгүй</a></p>
                                    </div>
                                    <a href="@Url.Action("TravelDetail","Home",new {id=item.ID })" title="Book now" class="gradient-button">Захиалах</a>
                                </div>
                            </article>
                        <!--//deal-->
                        }
                    </div>
                </div>
                <!--//latest offers-->

                <header class="s-title">
                    <h2>Та үнэгүй аялалмаар байна уу</h2>
                </header>

                <!--top destinations-->
                <div class="destinations">
                    <div class="row">
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="location.html" title=""><img src="@Url.Content("~/images/uploads/paris.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="location.html" title="View all" class="gradient-button">View all</a>
                                <h4>Paris</h4>
                                <span class="count">1529 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="location.html" title=""><img src="@Url.Content("~/images/uploads/amsterdam.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="location.html" title="View all" class="gradient-button">View all</a>
                                <h4>Amsterdam</h4>
                                <span class="count">929 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="location.html" title=""><img src="@Url.Content("~/images/uploads/saint-petersburg.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="location.html" title="View all" class="gradient-button">View all</a>
                                <h4>St Petersburg</h4>
                                <span class="count">658 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="one-fourth">
                            <figure><a href="location.html" title=""><img src="@Url.Content("~/images/uploads/saint-petersburg.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="location.html" title="View all" class="gradient-button">View all</a>
                                <h4>St Petersburg</h4>
                                <span class="count">658 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                      
                        <!--//column-->
                    </div>
                </div>
                <!--//top destinations-->
                <!--info boxes-->
                <div class="boxes">
                    <div class="row">
                        <!--column-->
                        <article class="one-fourth">
                            <div>
                                <h4>Корпорейт зочид буудал</h4>
                                <p>Корпорейт зочид буудал болон Хурал хэлэлцээрийн төв нь шинэхэн барилга юм. Зочдод уламжлалт болон Барууны хоолоор үйлчлэх ресторан, суши бар болон лоунж, дээд зэргийн байр сууцад тухлах таалагдах төдийгүй зочид буудлын хамт олон дээд зэргийн үйлчилгээ санал болгодог. Нийт 94 өрөөтэй, төгс байрлалтай шилдэг буудлуудын нэг юм. </p>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <div>
                                <h4>Рамада Улаанбаатар Сити Центр Зочид буудал</h4>
                                <p>Рамада Улаанбаатар Сити Центр зочид буудал нь Улаанбаатар хот дахь хамгийн сүүлийн үеийн дээд зэрэглэлийн 4 одтой олон улсын зочид буудал бөгөөд тансаг зэрэглэлийн худалдааны төв болон орчин үеийн архитектурын шийдэл бүхий 17 давхар цогцолбор юм.Зочны өрөө болон сюит зэрэглэлийн нийт 125 өрөөтэй. </p>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <div>
                                <h4>Баянгол Зочид Буудал</h4>
                                <p>Монголын аялал жуулчлал, үйлчилгээний салбарын хөгжилд Баянгол Зочид Буудал Хувьцаат Компани нь томоохон үүрэг гүйцэтгэсээр ирсэн. Анх 1964 онд БНМАУ-ын Сайд нарын зөвлөлийн 375 тоот тогтоол гарч, Ажилчны хорооны нутаг дэвсгэр дэхь 220 мянгатын 80 айлын орон сууцны барилгад 200 ортой зочид буудал байгуулахыг хотын АДХГЗ-д даалгасанаар манай анхны үйлчилгээ эхэлсэн.</p>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <div>
                                <h4>ПАРК ЗОЧИД БУУДАЛ</h4>
                                <p>Бид орчин үеийн цогц үйлчилгээ бүхий Олон улсын зочид буудлын стандартыг хангасан бизнес ангиллын зочид буудлыг та бүхэнд танилцуулж байгаадаа таатай байна. Манай үйлчилгээнд:
Дараах ангиллын өрөөнүүд байна. Люкс өрөө - 4, хагас люкс өрөө - 4.</p>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                       
                    </div>
                </div>
                <!--//info boxes-->
            </div>
        </div>
    </div>
</main>
<!--//main-->