@model TravelWeb.Models.BigViewModel
@{
    ViewBag.Title = "Step1";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    double total = Model.Hotel.price + Model.Hotel.travel.travelPlan.First().price;
}
<!--main-->
<main class="main">
    <div class="wrap">

        <div class="row">
            <!--three-fourth content-->
            <div class="three-fourth">
                @using (Html.BeginForm("Step1", "Home", FormMethod.Post))
                {
                    @Html.TextBoxFor(o=>o.Hotel.hotelID,new {@type="hidden" })
                    @Html.TextBoxFor(o => o.User.userID,new { @type="hidden"})
                    <fieldset>
                        <h2><span>01 </span>Аялагчын мэдээлэл</h2>
                        <div class="row">
                            <div class="f-item one-half">
                                <label for="first_name">Нэр</label>
                                @Html.TextBoxFor(o=>o.User.firstName)
                            </div>
                            <div class="f-item one-half">
                                <label for="last_name">Овог</label>
                                @Html.TextBoxFor(o => o.User.lastName)
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item one-half">
                                <label for="email">Мэйл хаяг</label>
                                @Html.TextBoxFor(o => o.User.email)
                            </div>
                            <div class="f-item one-half">
                                <label for="confirm_email">Нууц үг</label>
                                @Html.TextBoxFor(o => o.User.password,new { @type="password"})
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item one-half">
                                <label for="email">Хэрэглэгчийн нэр</label>
                                @Html.TextBoxFor(o => o.User.userName)
                            </div>
                            <div class="f-item one-half">
                                <label for="confirm_email">Утасны дугаар</label>
                                @Html.TextBoxFor(o => o.User.phone)
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item one-half">
                                <label for="email">Регистрийн дугаар</label>
                                @Html.TextBoxFor(o => o.User.regNo)
                            </div>
                            <div class="f-item one-half">
                                <label for="confirm_email">Төрсөн огноо</label>
                                @Html.TextBoxFor(o => o.User.birthDate,new { @type="date"})
                            </div>
                        </div>
                        <div class="row">
                            <div class="f-item one-half">
                                <label for="email">Эрх</label>
                                @Html.DropDownList("roleID",String.Empty)
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item full-width">
                                <input type="submit" class="gradient-button" value="Дараах" id="next-step" />
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
            <!--//three-fourth content-->
            <!--right sidebar-->
            <aside class="one-fourth right-sidebar">
                <!--Booking details-->
                <article class="hotel-details booking-details">
                    <h1>
                        @Model.Hotel.travel.Name
                    </h1>
                    <span class="address">@Model.Hotel.travel.StartFrom->@Model.Hotel.travel.EndTo</span>
                    <dl>
                        <dt>Зочид буудал</dt>
                        <dd>@Model.Hotel.name</dd>
                        <dt>Эхлэх</dt>
                        <dd>@Model.Hotel.travel.travelPlan.First().startDate.ToString("yyyy-MM-dd")</dd>
                        <dt>Дуусах</dt>
                        <dd>@Model.Hotel.travel.travelPlan.First().endDate.ToString("yyyy-MM-dd")</dd>
                    </dl>
                    <dl class="booking-info">
                        <dt>Зочид буудлын үнэ</dt>
                        <dd>@Model.Hotel.price ₮</dd>
                        <dt>Аялалын үнэ</dt>
                        <dd>@Model.Hotel.travel.travelPlan.First().price ₮</dd>
                    </dl>
                    <div class="price">
                        <p class="total">Нийт үнэ: @total ₮</p>
                    </div>
                </article>
                <!--//Booking details-->
                <!--Need Help Booking?-->
                <article class="widget">
                    <h4>Тусламж хэрэгтэй юу?</h4>
                    <p>Бидний тусламжийн хэсэгт холбогдоно уу. Манай тусламжийн баг танд туслахад бэлэн байна</p>
                    <p class="number">+976-9572-4777</p>
                </article>
                <!--//Need Help Booking?-->
            </aside>
            <!--//right sidebar-->
        </div>
        <!--//main content-->
    </div>
</main>
<!--//main-->

