@model TravelWeb.Models.Hotel
@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    double total = Model.price + Model.travel.travelPlan.First().price;
}

<!--main-->
<main class="main">
    <div class="wrap">

        <div class="row">
            <!--three-fourth content-->
            <div class="three-fourth">
@using (Html.BeginForm("Step2", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(o => o.hotelID, new { @type = "hidden" })
                    <fieldset>
                        <h2><span>02 </span>Төлбөр төлөлт</h2>
                        <div class="row">
                            <div class="f-item one-half">
                                <label>Картын төрөл</label>
                                <select>
                                    <option selected>Картын төрлийг сонгоно уу</option>
                                    <option>Mastercard</option>
                                    <option>Visa</option>
                                    <option>Debit card</option>
                                </select>
                            </div>
                            <div class="f-item one-half">
                                <label for="card_number">Картын дугаар</label>
                                <input type="number" id="card_number" name="card_number" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item one-half">
                                <label for="card_number">Хүчинтэй хугацаа</label>
                                <input type="date" id="card_number" name="card_number" />
                            </div>
                            <div class="f-item one-half">
                                <label>Картан дахь нэр</label>
                                <input type="text" id="card_holder" name="card_holder" />
                            </div>
                            <div class="f-item one-half">
                                <label>Төлөх төлбөрийн дүн бичнэ үү</label>
                                <input type="text" id="money" name="money" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item full-width checkbox">
                                <input type="checkbox" name="check" id="check" value="ch1" />
                                <label>Төлбөр төлөлтийн нөхцөлийг зөвшөөрч байна.</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="full-width">
                                <input type="submit" class="gradient-button" value="Төлбөр төлөлт хийх" id="next-step" />
                            </div>
                        </div>
                    </fieldset>
}
            </div>
            <!--//three-fourth content-->
            <!--right sidebar-->
            <aside class="one-fourth right-sidebar">
                <!--Booking details-->
                <article class="hotel-details booking-details">
                    <h1>
                        @Model.travel.Name
                    </h1>
                    <span class="address">@Model.travel.StartFrom->@Model.travel.EndTo</span>
                    <dl>
                        <dt>Зочид буудал</dt>
                        <dd>@Model.name</dd>
                        <dt>Эхлэх</dt>
                        <dd>@Model.travel.travelPlan.First().startDate.ToString("yyyy-MM-dd")</dd>
                        <dt>Дуусах</dt>
                        <dd>@Model.travel.travelPlan.First().endDate.ToString("yyyy-MM-dd")</dd>
                    </dl>
                    <dl class="booking-info">
                        <dt>Зочид буудлын үнэ</dt>
                        <dd>@Model.price ₮</dd>
                        <dt>Аялалын үнэ</dt>
                        <dd>@Model.travel.travelPlan.First().price ₮</dd>
                    </dl>
                    <div class="price">
                        <p class="total">Нийт үнэ: @total ₮</p>
                    </div>
                </article>
                <!--//Booking details-->
                <!--Need Help Booking?-->
                <article class="widget">
                    <h4>Тусламж хэрэгтэй юу?</h4>
                    <p>Бидний тусламжийн хэсэгт холбогдоно уу. Манай тусламжийн баг танд туслахад бэлэн байна</p>
                    <p class="number">+976-9572-4777</p>
                </article>
                <!--//Need Help Booking?-->
            </aside>
        </div>
        <!--//main content-->
    </div>
</main>
<!--//main-->

