@model TravelWeb.Models.BigOrderHotelModel
@{
    ViewBag.Title = "Step3";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    double total = Model.Hotel.price + Model.Hotel.travel.travelPlan.First().price;
}

	<!--main-->
<main class="main">
    <div class="wrap">

        <div class="row">
            <!--three-fourth content-->
            <div class="three-fourth">
                <form id="booking" method="post" action="http://www.themeenergy.com/themes/html/book-your-travel/booking" class="static-content booking">
                    <fieldset>
                        <h2><span>03 </span>Төлбөр амжилттай хийгдлээ</h2>
                        <div class="text-wrap">
                            <a href="#" class="gradient-button right print" title="Print booking" onclick="printpage()">Захиалгыг хэвлэх</a>
                            <p>Таны захиалгыг хүлээн авлаа. Манайхаар үйлчлүүлсэнд баярлалаа</p>
                        </div>

                        <h3>Захиалгын дэлгэрэнгүй</h3>
                        <div class="text-wrap">
                            <div class="output">
                                <p>Захиалгын дугаар:</p>
                                <p>@Model.Order.orderID</p>
                                <p>Нэр: </p>
                                <p>@Model.Order.user.firstName</p>
                                <p>Овог: </p>
                                <p>@Model.Order.user.lastName</p>
                                <p>Мэйл хаяг: </p>
                                <p>@Model.Order.user.email</p>
                                <p>Төлсөн төлбөр:</p>
                                <p>@Model.Order.payment.First().totalPaid ₮</p>
                                <p>Үлдэгдэл: </p>
                                <p>@Model.Order.payment.First().balance ₮</p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--//three-fourth content-->
            <!--right sidebar-->
            <aside class="one-fourth right-sidebar">
                <!--Booking details-->
                <article class="hotel-details booking-details">
                    <h1>
                        @Model.Hotel.travel.Name
                    </h1>
                    <span class="address">@Model.Hotel.travel.StartFrom->@Model.Hotel.travel.EndTo</span>
                    <dl>
                        <dt>Зочид буудал</dt>
                        <dd>@Model.Hotel.name</dd>
                        <dt>Эхлэх</dt>
                        <dd>@Model.Hotel.travel.travelPlan.First().startDate.ToString("yyyy-MM-dd")</dd>
                        <dt>Дуусах</dt>
                        <dd>@Model.Hotel.travel.travelPlan.First().endDate.ToString("yyyy-MM-dd")</dd>
                    </dl>
                    <dl class="booking-info">
                        <dt>Зочид буудлын үнэ</dt>
                        <dd>@Model.Hotel.price ₮</dd>
                        <dt>Аялалын үнэ</dt>
                        <dd>@Model.Hotel.travel.travelPlan.First().price ₮</dd>
                    </dl>
                    <div class="price">
                        <p class="total">Нийт үнэ: @total ₮</p>
                    </div>
                </article>
                <!--//Booking details-->
                <!--Need Help Booking?-->
                <article class="widget">
                    <h4>Тусламж хэрэгтэй юу?</h4>
                    <p>Бидний тусламжийн хэсэгт холбогдоно уу. Манай тусламжийн баг танд туслахад бэлэн байна</p>
                    <p class="number">+976-9572-4777</p>
                </article>
                <!--//Need Help Booking?-->
            </aside>
            <!--//right sidebar-->
        </div>
        <!--//main content-->
    </div>
</main>
<!--//main-->

