@model TravelWeb.Models.TravelPlan
@{
    ViewBag.Title = "Аялалын дэлгэрэнгүй";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
    .lSAction>a {
    top: 50% !important;
}
    </style>
<!--main-->
<main class="main">
    <div class="wrap">


        <div class="row">
            <!--hotel three-fourth content-->
            <section class="three-fourth">
                <!--gallery-->
                <div class="gallery">
                    <ul id="image-gallery" class="cS-hidden">
                        @foreach (var imagee in Model.travel.images)
                        {
                            <li data-thumb="@Url.Content(imagee.source)">
                                <img src="@Url.Content(imagee.source)" )" alt="no image" />
                            </li>
                        }
                    </ul>
                </div>
                <!--//gallery-->
                <!--inner navigation-->
                <nav class="inner-nav">
                    <ul>
                        <li class="availability"><a href="#availability" title="Availability">Өрөө захиалга</a></li>
                        <li class="description"><a href="#description" title="Description">Дэлгэрэнгүй танилцуулга</a></li>
                        <li class="reviews"><a href="#reviews" title="Reviews">Санал асуулга</a></li>
                    </ul>
                </nav>
                <!--//inner navigation-->
                <!--availability-->
                <section id="availability" class="tab-content">
                    <article>
                        <h2>Аялалын хугацаа</h2>
                        <div class="text-wrap">
                            <p>Аялалын хугацаа нь <span class="date">@Model.startDate.ToString("yyyy/MM/dd")</span> -с <span class="date">@Model.endDate.ToString("yyyy/MM/dd") -хүртэл</span>.</p>
                        </div>

                        <h2>Өрөөнүүд</h2>
                        <ul class="room-types">
                            @foreach (var room in Model.travel.hotels)
                            {
                            <!--room-->
                            <li>
                                <figure class="left" id="gallery1">
                                    <img src="@Url.Content("~/images/uploads/room1.jpg")" alt="" />
                                </figure>
                                <div class="meta">
                                    <h3>@room.name</h3>
                                    <p>@room.detail</p>
                                </div>
                                <div class="room-information">
                                    <div class="row">
                                        <span class="first">Багтаамж:</span>
                                        <span class="second">
                                            @for (var i = 0; i < room.maxPerson; i++)
                                            {
                                                <i class="material-icons">&#xE7FD;</i>
                                            }
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="first">Үнэ:</span>
                                        <span class="second">₮ @room.price</span>
                                    </div>
                                    <div class="row">
                                        <span class="first">Өрөө:</span>
                                        <span class="second">@room.room</span>
                                    </div>
                                    @Html.ActionLink("Захиалга хийх", "Step1", "Home", new { @class = "gradient-button" })
                                </div>
                            </li>
                            <!--//room-->
                            }
                        </ul>
                    </article>
                </section>
                <!--//availability-->
                <!--description-->
                <section id="description" class="tab-content">
                    <article>
                        <h2>General</h2>
                        <div class="text-wrap">
                            <p>The Best Ipsum hotel  features over 1,000 luxuriously appointed, individually styled rooms, suites and apartments, each containing unique works of art. Accommodation at the hotel includes air conditioning in all the rooms, private bathroom with heated mirrors, hair dryer, power shower, BT Openzone Wi-Fi, coffee and tea making facilities, complimentary toiletries, Egyptian linen, flat Screen LCD TV with free view, work desk, 24 hour room service.</p>
                        </div>

                        <h2>Check-in</h2>
                        <div class="text-wrap">
                            <p>From 15:00 hours </p>
                        </div>

                        <h2>Check-out</h2>
                        <div class="text-wrap">
                            <p>Untill 12:00 hours </p>
                        </div>

                        <h2>Cancellation / Prepayment</h2>
                        <div class="text-wrap">
                            <p>Cancellation and prepayment policies vary according to room type. Please check the <a href="#">room conditions</a> when selecting your room. </p>
                        </div>

                        <h2>Children and extra beds</h2>
                        <div class="text-wrap">
                            <p><strong>Free!</strong> All children under 8 years stay free of charge when using existing beds.<strong>Free!</strong> All children under 2 years stay free of charge for children’s cots/cribs.All older children or adults are charged USD 40 per person per night for extra beds.The maximum number of extra beds/children’s cots permitted in a room is 1.Any type of extra bed or child’s cot/crib is upon request and needs to be confirmed by management.Supplements are not calculated automatically in the total costs and will have to be paid for separately when checking out.</p>
                        </div>

                        <h2>Pets</h2>
                        <div class="text-wrap">
                            <p>Pets are allowed. Charges may be applicable.</p>
                        </div>

                        <h2>Accepted credit cards</h2>
                        <div class="text-wrap">
                            <p>American Express, Visa, Euro/Mastercard, Diners ClubThe hotel reserves the right to pre-authorise credit cards prior to arrival.</p>
                        </div>
                    </article>
                </section>
                <!--//description-->
                <!--reviews-->
                <section id="reviews" class="tab-content">
                    <article>
                        <h2>Hotel Score and Score Breakdown</h2>
                        <div class="score">
                            <span class="achieved">8 </span>
                            <span> / 10</span>
                            <p class="info">Based on 782 reviews</p>
                            <p class="disclaimer">Guest reviews are written by our customers <strong>after their stay</strong> at Hotel Best Ipsum.</p>
                        </div>

                        <dl class="chart">
                            <dt>Clean</dt>
                            <dd><span id="data-one" style="width:80%;">8</span></dd>
                            <dt>Comfort</dt>
                            <dd><span id="data-two" style="width:60%;">6</span></dd>
                            <dt>Location</dt>
                            <dd><span id="data-three" style="width:80%;">8</span></dd>
                            <dt>Staff</dt>
                            <dd><span id="data-four" style="width:100%;">10</span></dd>
                            <dt>Services</dt>
                            <dd><span id="data-five" style="width:70%;">7</span></dd>
                            <dt>Value for money</dt>
                            <dd><span id="data-six" style="width:90%;">9</span></dd>
                        </dl>
                    </article>

                    <article>
                        <h2>Guest reviews</h2>
                        <ul class="reviews">
                            <!--review-->
                            <li>
                                <figure class="left">
                                    <img src="@Url.Content("~/images/uploads/avatar.jpg")" alt="avatar" />
                                    <address><span>Anonymous</span><br />Solo TravellerNorway<br />22/06/2016</address>
                                </figure>
                                <div class="rev pro"><p>It was a warm friendly hotel. Very easy access to shops and underground stations. Staff very welcoming.</p></div>
                                <div class="rev con"><p>noisy neigbourghs spoilt the rather calm environment</p></div>
                            </li>
                            <!--//review-->
                            <!--review-->
                            <li>
                                <figure class="left">
                                    <img src="@Url.Content("~/images/uploads/avatar.jpg")" alt="avatar" />
                                    <address><span>Anonymous</span><br />Solo TravellerNorway<br />22/06/2016</address>
                                </figure>
                                <div class="rev pro"><p>It was a warm friendly hotel. Very easy access to shops and underground stations. Staff very welcoming.</p></div>
                                <div class="rev con"><p>noisy neigbourghs spoilt the rather calm environment</p></div>
                            </li>
                            <!--//review-->
                            <!--review-->
                            <li>
                                <figure class="left">
                                    <img src="@Url.Content("~/images/uploads/avatar.jpg")" alt="avatar" />
                                    <address><span>Anonymous</span>Solo TravellerNorway22/06/2016</address>
                                </figure>
                                <div class="rev pro"><p>It was a warm friendly hotel. Very easy access to shops and underground stations. Staff very welcoming.</p></div>
                                <div class="rev con"><p>noisy neigbourghs spoilt the rather calm environment</p></div>
                            </li>
                            <!--//review-->
                            <!--review-->
                            <li>
                                <figure class="left">
                                    <img src="@Url.Content("~/images/uploads/avatar.jpg")" alt="avatar" />
                                    <address><span>Anonymous</span><br />Solo TravellerNorway<br />22/06/2016</address>
                                </figure>
                                <div class="rev pro"><p>It was a warm friendly hotel. Very easy access to shops and underground stations. Staff very welcoming.</p></div>
                                <div class="rev con"><p>noisy neigbourghs spoilt the rather calm environment</p></div>
                            </li>
                            <!--//review-->
                            <!--review-->
                            <li>
                                <figure class="left">
                                    <img src="@Url.Content("~/images/uploads/avatar.jpg")" alt="avatar" />
                                    <address><span>Anonymous</span><br />Solo TravellerNorway<br />22/06/2016</address>
                                </figure>
                                <div class="rev pro"><p>It was a warm friendly hotel. Very easy access to shops and underground stations. Staff very welcoming.</p></div>
                                <div class="rev con"><p>noisy neigbourghs spoilt the rather calm environment</p></div>
                            </li>
                            <!--//review-->
                        </ul>
                    </article>
                </section>
                <!--//reviews-->
            </section>
            <!--//hotel content-->
            <!--sidebar-->
            <aside class="one-fourth right-sidebar">
                <!--hotel details-->
                <article class="hotel-details">
                    <h1>
                        @Model.travel.Name
                    </h1>
                    <span class="address">@Model.travel.StartFrom->@Model.travel.EndTo</span>
                    <span class="rating"> 8 /10</span>
                    <div class="description">
                        <p>@Model.detail</p>
                    </div>
                </article>
                <!--//hotel details-->
                <!--testimonials-->
                <article class="testimonials">
                    <blockquote>Loved the staff and the location was just amazing... Perfect!” </blockquote>
                    <span class="name">- Jane Doe, Solo Traveller</span>
                </article>
                <!--//testimonials-->
                <!--Need Help Booking?-->
                <article class="widget">
                    <h4>Тусламж хэрэгтэй юу?</h4>
                    <p>Манай хэрэглэгчдийн төвд хандан тусламж авна уу. </p>
                    <p class="number">+976-9572-4777</p>
                </article>
                <!--//Need Help Booking?-->
                <!--Why Book with us?-->
                <article class="widget">
                    <h4>Яагаад бид гэж? </h4>
                    <h5>Хямд үнэ</h5>
                    <p>Хамгийн хямд үнэ болон буцаалт хийх боломжтой!</p>
                    <h5>Хамгийн өргөн сонголт</h5>
                    <p>140,000+ зочид буудлууд дэлхийн даяар 130+ онгоцны сүлжээ 3 сая харилцагчидын санал хүсэлт</p>
                    <h5>Бид үргэлж энд байна</h5>
                    <p>Бидэнд залга эсвэл мэйл бич, бид 24 цаг танд үйлчилж байна</p>
                </article>
                <!--//Why Book with us?-->
            </aside>
            <!--//sidebar-->
        </div>
        <!--//row-->
    </div>
</main>
<!--//main-->

