@model TravelWeb.Models.TravelPlan
@{
    ViewBag.Title = "Аялалын дэлгэрэнгүй";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
    .lSAction>a {
    top: 50% !important;
}
    </style>
<!--main-->
<main class="main">
    <div class="wrap">


        <div class="row">
            <!--hotel three-fourth content-->
            <section class="three-fourth">
                <!--gallery-->
                <div class="gallery">
                    <ul id="image-gallery" class="cS-hidden">
                        @foreach (var imagee in Model.travel.images)
                        {
                            <li data-thumb="@Url.Content(imagee.source)">
                                <img src="@Url.Content(imagee.source)" )" alt="no image" />
                            </li>
                        }
                    </ul>
                </div>
                <!--//gallery-->
                <!--inner navigation-->
                <nav class="inner-nav">
                    <ul>
                        <li class="availability"><a href="#availability" title="Availability">Өрөө захиалга</a></li>
                        <li class="description"><a href="#description" title="Description">Дэлгэрэнгүй танилцуулга</a></li>
                        <li class="reviews"><a href="#reviews" title="Reviews">Санал асуулга</a></li>
                    </ul>
                </nav>
                <!--//inner navigation-->
                <!--availability-->
                <section id="availability" class="tab-content">
                    <article>
                        <h2>Аялалын хугацаа</h2>
                        <div class="text-wrap">
                            <p>Аялалын хугацаа нь <span class="date">@Model.startDate.ToString("yyyy/MM/dd")</span> -с <span class="date">@Model.endDate.ToString("yyyy/MM/dd") -хүртэл</span>.</p>
                        </div>

                        <h2>Өрөөнүүд</h2>
                        <ul class="room-types">
                            @foreach (var room in Model.travel.hotels)
                            {
                            <!--room-->
                            <li>
                                <figure class="left" id="gallery1">
                                    <img src="@Url.Content(room.imagesrc)" alt="" />
                                </figure>
                                <div class="meta">
                                    <h3>@room.name</h3>
                                    <p>@room.detail</p>
                                </div>
                                <div class="room-information">
                                    <div class="row">
                                        <span class="first">Багтаамж:</span>
                                        <span class="second">
                                            @for (var i = 0; i < room.maxPerson; i++)
                                            {
                                                <i class="material-icons">&#xE7FD;</i>
                                            }
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="first">Үнэ:</span>
                                        <span class="second">₮ @room.price</span>
                                    </div>
                                    <div class="row">
                                        <span class="first">Өрөө:</span>
                                        <span class="second">@room.room</span>
                                    </div>
                                    @Html.ActionLink("Захиалга хийх", "Step1", "Home",new {id=room.hotelID } ,new { @class = "gradient-button" })
                                </div>
                            </li>
                            <!--//room-->
                            }
                        </ul>
                    </article>
                </section>
                <!--//availability-->
                <!--description-->
                <section id="description" class="tab-content">
                    <article>
                        <h2>Үндсэн мэдээлэл</h2>
                        <div class="text-wrap">
                            <strong>Аялалын төрөл: </strong> @Model.travel.TravelType.Name
                            </div>
                            <div class="text-wrap">
                                <p>@Model.detail</p>
                            </div>

                            <h2>Эхлэх</h2>
                            <div class="text-wrap">
                                <p>@Model.startDate.ToString("yyyy/MM/dd") </p>
                            </div>

                            <h2>Дуусах</h2>
                            <div class="text-wrap">
                                <p>@Model.endDate.ToString("yyyy/MM/dd") </p>
                            </div>

                            @foreach (var day in Model.Days)
                            {
                                <h2>Өдөр @day.day</h2>
                                <div class="text-wrap">
                                    <p>@day.detail</p>
                                </div>
                            }
                            <h2>Хөтөчийн мэдээлэл</h2>
                            <div class="text-wrap">
                                <img src="@Url.Content(Model.travel.guider.img)" style="width:100px">
                                <p><strong>Овог нэр: </strong>@Model.travel.guider.firstName @Model.travel.guider.lastName</p>
                                <p><strong>Ажлын туршлага: </strong> @Model.travel.guider.workedYear жил</p>
                                
                            </div>
</article>
                </section>
                <!--//description-->
                <!--reviews-->
                <section id="reviews" class="tab-content">

                    <article>
                        <h2>Сэтгэгдэлүүд</h2>
                        <ul class="reviews">
                            @foreach (var comment in Model.travel.comments)
                            {
                            <!--review-->
                            <li>
                                <figure class="left">
                                    <img src="@Url.Content("~/images/uploads/avatar.jpg")" alt="avatar" />
                                    <address><span>@comment.user.firstName @comment.user.lastName</span><br />Хэрэглэгч<br />@comment.createdDate.ToString("yyyy-MM-dd")</address>
                                </figure>
                                <div class="rev pro"><p>@comment.detail</p></div>
                            </li>
                            <!--//review-->
                            }
@if (Request.IsAuthenticated)
{
                            <!--comment-->
                            <li>
                               
@using (Html.BeginForm("Comment", "Home", FormMethod.Post))
{
    <input type="hidden" value="@Model.ID" name="travelPlanId">
    <input type="hidden" value="@Model.TravelID" name="travelId">
                                    <input class="col-md-12" type="text" name="comment" placeholder="Сэтгэгдэл бичих "/>
                                    <input class="pull-right" style="margin-top:10px" type="submit" value="Оруулах">
}
                             </li>
                            <!--//comment-->
}
                        </ul>
                    </article>
                </section>
                <!--//reviews-->
            </section>
            <!--//hotel content-->
            <!--sidebar-->
            <aside class="one-fourth right-sidebar">
                <!--hotel details-->
                <article class="hotel-details">
                    <h1>
                        @Model.travel.Name
                    </h1><br/>
                    <span class="address">@Model.travel.StartFrom->@Model.travel.EndTo</span>
                    
                    <div class="description" style="text-align:center">
                        <strong >@Model.travel.TravelType.Name</strong>
                    </div>
                </article>
                <!--//hotel details-->
                <!--testimonials-->
                <article class="testimonials">
                    <blockquote>Loved the staff and the location was just amazing... Perfect!” </blockquote>
                    <span class="name">- Jane Doe, Solo Traveller</span>
                </article>
                <!--//testimonials-->
                <!--Need Help Booking?-->
                <article class="widget">
                    <h4>Тусламж хэрэгтэй юу?</h4>
                    <p>Манай хэрэглэгчдийн төвд хандан тусламж авна уу. </p>
                    <p class="number">+976-9572-4777</p>
                </article>
                <!--//Need Help Booking?-->
                <!--Why Book with us?-->
                <article class="widget">
                    <h4>Яагаад бид гэж? </h4>
                    <h5>Хямд үнэ</h5>
                    <p>Хамгийн хямд үнэ болон буцаалт хийх боломжтой!</p>
                    <h5>Хамгийн өргөн сонголт</h5>
                    <p>140,000+ зочид буудлууд дэлхийн даяар 130+ онгоцны сүлжээ 3 сая харилцагчидын санал хүсэлт</p>
                    <h5>Бид үргэлж энд байна</h5>
                    <p>Бидэнд залга эсвэл мэйл бич, бид 24 цаг танд үйлчилж байна</p>
                </article>
                <!--//Why Book with us?-->
            </aside>
            <!--//sidebar-->
        </div>
        <!--//row-->
    </div>
</main>
<!--//main-->

