
@{
    ViewBag.Title = "Аялалууд";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<!--main-->
<main class="main">
    <div class="wrap">
        <div class="row">

            <div class="full-width">
                <header class="s-title">
                    <h2>Most popular Hotels</h2>
                </header>

                <div class="deals">
                    <div class="row">
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel1.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Best ipsum hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 50</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel2.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Tropicana hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 9 /10</span>
                                <span class="price">Price per room per night from  <em>$ 80</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel3.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Spa Resort hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 70</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel4.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Best ipsum hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 50</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel5.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Spa Resort hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 70</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel6.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Tropicana hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 9 /10</span>
                                <span class="price">Price per room per night from  <em>$ 80</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel1.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Best ipsum hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 50</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel2.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Tropicana hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 9 /10</span>
                                <span class="price">Price per room per night from  <em>$ 80</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel3.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Spa Resort hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 70</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel4.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Best ipsum hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 50</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel5.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Spa Resort hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 8 /10</span>
                                <span class="price">Price per room per night from  <em>$ 50</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                        <!--deal-->
                        <article class="one-fourth">
                            <figure><a href="hotel.html" title=""><img src="@Url.Content("~/images/uploads/hotel6.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <h3>
                                    Tropicana hotel
                                    <span class="stars">
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                        <i class="material-icons">&#xE838;</i>
                                    </span>
                                </h3>
                                <span class="address">London  •  <a href="#">Show on map</a></span>
                                <span class="rating"> 9 /10</span>
                                <span class="price">Price per room per night from  <em>$ 80</em> </span>
                                <div class="description">
                                    <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’ walk from London’s Zoological Gardens and a metro station. <a href="hotel.html">More info</a></p>
                                </div>
                                <a href="hotel.html" title="Book now" class="gradient-button">Book now</a>
                            </div>
                        </article>
                        <!--//deal-->
                    </div>
                </div>
                <!--//deals-->

                <header class="s-title">
                    <h2>Top destinations around the world</h2>
                </header>

                <!--top destinations-->
                <div class="destinations">
                    <div class="row">
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/paris.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>Paris</h4>
                                <span class="count">1529 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/amsterdam.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>Amsterdam</h4>
                                <span class="count">929 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/saint-petersburg.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>St Petersburg</h4>
                                <span class="count">658 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/prague.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>Prague</h4>
                                <span class="count">829 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/prague.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>Prague</h4>
                                <span class="count">829 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth promo">
                            <div class="ribbon-small">- 20%</div>
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/paris.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>Paris</h4>
                                <span class="count">1529 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/amsterdam.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>Amsterdam</h4>
                                <span class="count">929 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                        <!--column-->
                        <article class="one-fourth">
                            <figure><a href="#" title=""><img src="@Url.Content("~/images/uploads/saint-petersburg.jpg")" alt="" /></a></figure>
                            <div class="details">
                                <a href="#" title="View all" class="gradient-button">View all</a>
                                <h4>St Petersburg</h4>
                                <span class="count">658 Hotels</span>
                                <div class="ribbon">
                                    <div class="half hotel">
                                        <a href="hotels.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 70</span>
                                        </a>
                                    </div>
                                    <div class="half flight">
                                        <a href="flights.html" title="View all">
                                            <span class="small">from</span>
                                            <span class="price">&#36; 150</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--//column-->
                    </div>
                </div>
                <!--//top destinations-->
            </div>
        </div>
    </div>
</main>
<!--//main-->

