 @model IEnumerable<TravelWeb.Models.TravelPlan>
@{
    ViewBag.Title = "Аялалууд";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!--main-->
<main class="main">
    <div class="wrap">
        <div class="row">

            <div class="full-width">
                <header class="s-title">
                    <h2>Аялалын жагсаалтууд</h2>
                </header>

                <div class="deals">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                             <!--deal-->
                            <article class="one-fourth">
                                <figure><a href="@Url.Action("TravelDetail","Home",new {id=item.ID })" title=""><img style="width:100%" src="@Url.Content(@item.travel.images.First().source)" alt="" /></a></figure>
                                <div class="details">
                                    <h3>
                                        @item.travel.Name
                                        <span class="stars">
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                            <i class="material-icons">&#xE838;</i>
                                        </span>
                                    </h3>
                                    <span class="address"><a href="#">@item.travel.StartFrom -> @item.travel.EndTo</a></span>
                                    <span class="rating"> 8 /10</span>
                                    <span class="price">Аялалын үнэ:  <em>@item.price ₮ </em> </span>
                                    <span class="price">Хөтөч:  <em>@item.travel.guider.lastName @item.travel.guider.firstName </em> </span>
                                    <div class="description">
                                        <p>@item.detail <a href="@Url.Action("TravelDetail","Home",new {id=item.ID })">Дэлгэрэнгүй</a></p>
                                    </div>
                                    <a href="@Url.Action("TravelDetail","Home",new {id=item.ID })" title="Book now" class="gradient-button">Захиалах</a>
                                </div>
                            </article>
                        <!--//deal-->
                        }
                       
                    </div>
                </div>
                <!--//top destinations-->
            </div>
        </div>
    </div>
</main>
<!--//main-->

